body {
  background-color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
header {
  color: #ff90bb;
  display: flex;
  justify-content: space-between;
  padding-inline: 25px;
}
header h3 a {
  color: #ff90bb;
  display: inline-flex;
  text-decoration: none;
}
header h3:hover a {
  color: #ff2171;
}
header #Timer,
header #currentScore {
  color: black;
}

main {
  padding-left: 5%;
  width: 90%;
  display: block;
  text-align: center;
}

main button {
  background-color: #ff90bb;
  padding-inline: 10px;
  padding-block: 7px;
  margin: 5px;

  border-radius: 10px;
  font-size: 23px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
}
main h3 {
  justify-self: center;
}

main div {
  justify-content: center;
}
main div ul {
  list-style: none;
  display: block;
  text-align: left;
}
main div ul li {
  background-color: #ff90bb;
  padding-inline: 10px;
  padding-block: 7px;
  margin: 5px;

  border-radius: 10px;
  font-size: 23px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
}
main div ul li:hover {
  background-color: #ff2171 !important;
  padding-inline: 10px;
}

#mainHS {
  padding-inline: 40%;
}

#user-list {
  list-style: none;
  display: inherit;
  justify-content: center;
}
#user-list li {
  margin-inline: 30%;
  display: inherit;
  border-style: solid;
  border-color: #ff2171;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: large;
  padding-block: 7px;
}
