
body{
    
    background-color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;;
}
header{
    color:#ff90bb;
    display: flex;
    justify-content: space-between;
    
}
header h3{
    display: inline-flex;
}
header h3:hover{
    color:#ff2171;
}
header #Timer, header #currentScore{
    color:black;
    
}

main{

    margin: 50px;
    margin-left: 10%;
    
    display: block;
    
}
main div ul {
    list-style: none;
    display: block;
    width: max-content;
    
}
main div ul li {
    background-color: #ff90bb;
    padding-inline: 10px;
    padding-block: 2px;;
    margin: 10px; 
    border-radius: 10px;
    font-size: 23px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    
}
main div ul li:hover{
    background-color:#ff2171!important;
    
    padding-inline: 10px;
}

.correct {
    background-color: green;
}

.incorrect{
    background-color: red;
}





